.home-page {
  @apply h-full w-full flex flex-row justify-center items-center text-amber-50;
  background: #2a3942;

  .start-chat-button {
    @apply hover:bg-green-950;
    padding: 0.75rem;
    border-radius: 10rem;
    background: #218c29;
  }
}
