<section class="sign-on-page">
  <div class="sign-on">
    <form class="sign-on-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="flex flex-col">
        <label class="input-label" [for]="userName">Username:</label>
        <input [formControl]="userName" type="text" [minLength]="5" [maxLength]="10" placeholder="User name.">
      </div>
      <div class="flex flex-col">
        <label class="input-label" [for]="ipAddress">IP Address:</label>
        <input
          [formControl]="ipAddress"
          [minLength]="7"
          [maxLength]="15"
          type="text"
          id="ipAddress"
          name="ipAddress"
          placeholder="Ip Address"
          (keypress)="validateIPAddressKeyPress($event)"
        >
      </div>
      <div class="flex flex-col">
        <label class="input-label" [for]="port">Port:</label>
        <input [formControl]="port" type="number" id="port" name="port" [min]="1" [max]="8000" placeholder="Port">
      </div>


      <button class="submit-form-button" type="submit" [disabled]="userForm.invalid"
              [ngClass]="{'hover:cursor-pointer': userForm.valid}">Submit
      </button>

    </form>
  </div>
</section>
